Repository vre-charite/service_queue: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-producer, deploy-producer, build-consumer, deploy-consumer

.gitlab-ci.yml:

image: docker:latest

variables:
  REGISTRY: 10.32.42.225:5000
  PRODUCER_CONTAINER_IMAGE: ${REGISTRY}/queue-producer:${CI_COMMIT_SHORT_SHA}
  CONSUMER_CONTAINER_IMAGE: ${REGISTRY}/queue-consumer:${CI_COMMIT_SHORT_SHA}

build-producer:
  stage: build
  tags:
    - VRE-Deployment
  only:
    changes:
      - kubernetes/producer-deployment.yaml
      - producer/*
      - producer/app/*
      - producer/models/*
      - producer/queue_op/*
  script:
    - docker login ${REGISTRY} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
    - docker build -t ${PRODUCER_CONTAINER_IMAGE} .
    - docker push ${PRODUCER_CONTAINER_IMAGE}

deploy-producer:
  stage: deploy
  tags:
    - VRE-Deployment
  only:
    changes:
      - kubernetes/producer-deployment.yaml
      - producer/*
      - producer/app/*
      - producer/models/*
      - producer/queue_op/*
  script:
    - sed -i "s/<VERSION>/${CI_COMMIT_SHORT_SHA}/g" kubernetes/producer-deployment.yaml
    - kubectl apply -f kubernetes/producer-deployment.yaml


build-consumer:
  stage: build
  tags:
    - VRE-Deployment
  only:
    changes:
      - kubernetes/consumer-deployment.yaml
      - consumer/*
  script:
    - docker login ${REGISTRY} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
    - docker build -t ${CONSUMER_CONTAINER_IMAGE} .
    - docker push ${CONSUMER_CONTAINER_IMAGE}

deploy-consumer:
  stage: deploy
  tags:
    - VRE-Deployment
  only:
    changes:
      - kubernetes/consumer-deployment.yaml
      - consumer/*
  script:
    - sed -i "s/<VERSION>/${CI_COMMIT_SHORT_SHA}/g" kubernetes/consumer-deployment.yaml
    - kubectl apply -f kubernetes/consumer-deployment.yaml

add cicd
  .gitlab-ci.yml
Due: none

add cicd
  kubernetes/consumer-deployment.yaml
  kubernetes/producer-deployment.yaml
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  consumer/__pycache__/config.cpython-37.pyc
  consumer/connection_handler.py
  consumer/consumer.py
  consumer/job.py
  consumer/main.py
  producer/config.py
  producer/models/__pycache__/api_response.cpython-37.pyc
  producer/queue_op/__init__.py
  producer/queue_op/__pycache__/__init__.cpython-37.pyc
  producer/queue_op/connection_handler.py
  producer/queue_op/message.py
  producer/queue_op/producer.py
  producer/queue_op/producer_project.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  consumer/connection_handler.py
  producer/queue_op/producer.py
  producer/queue_op/producer_project.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  consumer/Dockerfile
Due: build-consumer, deploy-consumer

VRE deployment
  consumer/receiver.py
  producer/queue_op/__pycache__/receiver.cpython-37.pyc
  producer/queue_op/__pycache__/sender.cpython-37.pyc
  producer/queue_op/__pycache__/sender.cpython-38.pyc
  producer/queue_op/sender.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

Update Dockerfile
  consumer/Dockerfile
Due: build-consumer, deploy-consumer

VRE deployment
  consumer/__pycache__/config.cpython-37.pyc
  consumer/main.py
  producer/app/__pycache__/__init__.cpython-37.pyc
  producer/models/__pycache__/__init__.cpython-37.pyc
  producer/models/__pycache__/api_response.cpython-37.pyc
  producer/queue_op/__pycache__/__init__.cpython-37.pyc
Due: build-consumer, deploy-consumer

VRE deployment
  consumer/job.py
Due: build-consumer, deploy-consumer

VRE deployment
  consumer/config.py
  consumer/main.py
  producer/config.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  README.md
  consumer/README.md
  consumer/connection_handler.py
  consumer/consumer.py
  consumer/job.py
  consumer/main.py
  producer/README.md
  producer/queue_op/__init__.py
  producer/queue_op/connection_handler.py
  producer/queue_op/message.py
  producer/queue_op/producer.py
  producer/queue_op/producer_project.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

add vre data mount
  kubernetes/consumer-deployment.yaml
Due: build-consumer, deploy-consumer

VRE deployment
  consumer/config.py
  consumer/job.py
  consumer/main.py
  consumer/main_backup.py
  consumer/pipelines/__init__.py
  consumer/pipelines/tvb_c_copy.py
  producer/config.py
  producer/queue_op/producer.py
  producer/queue_op/producer_project.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  consumer/config.py
Due: build-consumer, deploy-consumer

VRE deployment
  Jenkinsfile
  consumer/config.py
  consumer/job.py
  consumer/main.py
  consumer/pipelines/data_copy.py
  gitlab-ci.yml
  producer/config.py
  producer/queue_op/producer.py
  producer/queue_op/producer_project.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  consumer/README.md
  consumer/config.py
  consumer/job.py
  consumer/main.py
  consumer/pipelines/data_move.py
  producer/config.py
  producer/queue_op/producer.py
  producer/queue_op/producer_project.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  consumer/config.py
  consumer/job.py
  consumer/main.py
  consumer/main_backup.py
  consumer/pipelines/data_move.py
  kubernetes/consumer-deployment.yaml
  producer/app/__init__.py
  producer/queue_op/producer_project.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  consumer/job.py
  consumer/main.py
  producer/queue_op/producer_project.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  producer/config.py
  producer/queue_op/producer.py
  producer/queue_op/producer_project.py
Due: build-producer, deploy-producer

VRE deployment
  consumer/config.py
  consumer/logger_services/__init__.py
  consumer/logger_services/formatter.py
  consumer/logger_services/logger_factory_service.py
  consumer/logger_services/namespace_declare.py
  consumer/main.py
  consumer/pipelines/data_copy.py
  consumer/pipelines/data_move.py
  consumer/requirements.txt
  producer/app.py
  producer/app/__init__.py
  producer/app/api/__init__.py
  producer/app/api/pub.py
  producer/app/api/root.py
  producer/app/api/sub.py
  producer/app/broker/__init__.py
  producer/app/broker/consumer_dynamic.py
  producer/app/broker/consumer_pool.py
  producer/app/broker/pubsub.py
  producer/app/broker/rabbit_operator.py
  producer/app/broker/sub_list.json
  producer/app/broker/sub_list.py
  producer/app/queue_op/__init__.py
  producer/app/queue_op/connection_handler.py
  producer/app/queue_op/message.py
  producer/app/queue_op/producer.py
  producer/app/queue_op/producer_project.py
  producer/config.py
  producer/models/singleton.py
  producer/queue_op/__init__.py
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  .gitlab-ci.yml
  consumer/README.md
  consumer/config.py
  consumer/job.py
  consumer/main.py
  consumer/pipelines/bids_validate.py
  consumer/pipelines/data_copy.py
  consumer/pipelines/data_move.py
  kubernetes/socketio-deployment.yaml
  producer/app/api/pub.py
  producer/app/api/sub.py
  producer/app/broker/pubsub.py
  producer/app/queue_op/producer.py
  producer/app/queue_op/producer_project.py
  socketio/README.md
  socketio/config.py
  socketio/requirements.txt
  socketio/run.py
Due: build-consumer, deploy-consumer

Add Dockerfile
  socketio/Dockerfile
Due: none

Update Dockerfile
  socketio/Dockerfile
Due: none

[ci skip] moving http_proxy from Dockerfile to gitlab-ci and sync prod Dockerfile with staging
  .gitlab-ci.yml
  producer/Dockerfile
  socketio/Dockerfile
Due: build-producer, deploy-producer

[ci skip] syncing the Dockerfile with Dev
  consumer/Dockerfile
Due: build-consumer, deploy-consumer

VRE deployment
  consumer/Dockerfile
  consumer/config.py
  consumer/job.py
  consumer/pipelines/data_move.py
  producer/Dockerfile
  socketio/Dockerfile
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

typo
  .gitlab-ci.yml
Due: none

Add CONFIG_CENTER_ENABLED and CONFIG_CENTER_BASE_URL
  kubernetes/consumer-deployment.yaml
Due: build-consumer, deploy-consumer

[ci skip] update the env
  kubernetes/consumer-deployment.yaml
  kubernetes/producer-deployment.yaml
  kubernetes/socketio-deployment.yaml
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  .editorconfig
  .pre-commit-config.yaml
  consumer/.dockerignore
  consumer/Dockerfile
  consumer/config.py
  consumer/job.py
  consumer/main.py
  consumer/pipelines/bids_validate.py
  consumer/pipelines/data_copy.py
  consumer/pipelines/data_move.py
  consumer/requirements.txt
  producer/.dockerignore
  producer/app.py
  producer/app/api/pub.py
  producer/app/queue_op/connection_handler.py
  producer/app/queue_op/message.py
  producer/app/queue_op/producer.py
  producer/app/queue_op/producer_project.py
  producer/config.py
  producer/requirements.txt
  socketio/.dockerignore
  socketio/Dockerfile
  socketio/config.py
  socketio/requirements.txt
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE-2203 Update docker registry URL for service queue
  .gitlab-ci.yml
  kubernetes/consumer-deployment.yaml
  kubernetes/producer-deployment.yaml
  kubernetes/socketio-deployment.yaml
Due: build-producer, deploy-producer, build-consumer, deploy-consumer

VRE deployment
  producer/app/queue_op/producer_project.py
  pyproject.toml
  socketio/message_queue.py
  socketio/run.py
Due: none

VRE-2203 Updatre docker URL
  kubernetes/consumer-deployment.yaml
  kubernetes/socketio-deployment.yaml
Due: build-consumer, deploy-consumer
