Repository vre-charite/service_queue: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-producer, deploy-producer, build-consumer, deploy-consumer, build-socketio, deploy-socketio, dev-build-producer, dev-deploy-producer, dev-build-consumer, dev-deploy-consumer, staging-build-producer, staging-deploy-producer, staging-build-consumer, staging-deploy-consumer

build-producer:
  stage: build
  tags:
  - VRE-Deployment
  script:
  - docker login ${REGISTRY} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
  - docker build --build-arg http_proxy=http://proxy.charite.de:8080/ --build-arg https_proxy=http://proxy.charite.de:8080/ -t ${PRODUCER_CONTAINER_IMAGE} producer/.
  ...

deploy-producer:
  stage: deploy
  tags:
  - VRE-Deployment
  script:
  - sed -i "s/<VERSION>/${CI_COMMIT_SHORT_SHA}/g" kubernetes/producer-deployment.yaml
  - kubectl apply -f kubernetes/producer-deployment.yaml

build-consumer:
  stage: build
  tags:
  - VRE-Deployment
  script:
  - docker login ${REGISTRY} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
  - docker build --build-arg http_proxy=http://proxy.charite.de:8080/ --build-arg https_proxy=http://proxy.charite.de:8080/ -t ${CONSUMER_CONTAINER_IMAGE} consumer/.
  ...

deploy-consumer:
  stage: deploy
  tags:
  - VRE-Deployment
  script:
  - sed -i "s/<VERSION>/${CI_COMMIT_SHORT_SHA}/g" kubernetes/consumer-deployment.yaml
  - kubectl apply -f kubernetes/consumer-deployment.yaml

build-socketio:
  stage: build
  tags:
  - VRE-Deployment
  script:
  - docker login ${REGISTRY} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
  - docker build --build-arg http_proxy=http://proxy.charite.de:8080/ --build-arg https_proxy=http://proxy.charite.de:8080/ -t ${SOCKETIO_CONTAINER_IMAGE} socketio/.
  ...

deploy-socketio:
  stage: deploy
  tags:
  - VRE-Deployment
  script:
  - sed -i "s/<VERSION>/${CI_COMMIT_SHORT_SHA}/g" kubernetes/socketio-deployment.yaml
  - kubectl apply -f kubernetes/socketio-deployment.yaml

dev-build-producer:
  stage: build
  tags:
  - deployement
  script:
  - docker login ${REGISTRY_DEV} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
  - docker build -t ${PRODUCER_CONTAINER_IMAGE_DEV} producer/.
  - docker push ${PRODUCER_CONTAINER_IMAGE_DEV}

dev-deploy-producer:
  stage: deploy
  tags:
  - deployement
  image: dtzar/helm-kubectREGISTRY_DEVl
  script:
  - sed -i "s/<VERSION>/${CI_COMMIT_SHORT_SHA}/g" kubernetes/dev-producer-deployment.yaml
  - kubectl config use-context dev
  - kubectl apply -f kubernetes/dev-producer-deployment.yaml

dev-build-consumer:
  stage: build
  tags:
  - deployement
  script:
  - docker login ${REGISTRY_DEV} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
  - docker build -t ${CONSUMER_CONTAINER_IMAGE_DEV} consumer/.
  - docker push ${CONSUMER_CONTAINER_IMAGE_DEV}

dev-deploy-consumer:
  stage: deploy
  tags:
  - deployement
  image: dtzar/helm-kubectl
  script:
  - sed -i "s/<VERSION>/${CI_COMMIT_SHORT_SHA}/g" kubernetes/dev-consumer-deployment.yaml
  - kubectl config use-context dev
  - kubectl apply -f kubernetes/dev-consumer-deployment.yaml

staging-build-producer:
  stage: build
  tags:
  - deployement
  script:
  - docker login ${REGISTRY_STAGING} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
  - docker build -t ${PRODUCER_CONTAINER_IMAGE_STAGING} producer/.
  - docker push ${PRODUCER_CONTAINER_IMAGE_STAGING}

VRE-2657 Update service_queue CICD
  .gitlab-ci.yml
  consumer/Dockerfile
  consumer/internal_requirements.txt
  consumer/requirements.txt
  producer/Dockerfile
  producer/app/broker/sub_list.json
  producer/internal_requirements.txt
  producer/requirements.txt
  socketio/Dockerfile
  socketio/internal_requirements.txt
  socketio/requirements.txt
Due: build-producer, deploy-producer, build-consumer, deploy-consumer, build-socketio, deploy-socketio, dev-build-producer, dev-deploy-producer, dev-build-consumer, dev-deploy-consumer, staging-build-producer, staging-deploy-producer, staging-build-consumer, staging-deploy-consumer

Trigger CICD
  consumer/Dockerfile
Due: build-consumer, deploy-consumer, dev-build-consumer, dev-deploy-consumer, staging-build-consumer, staging-deploy-consumer

Trigger CICD
  producer/Dockerfile
Due: build-producer, deploy-producer, dev-build-producer, dev-deploy-producer, staging-build-producer, staging-deploy-producer

Trigger CICD
  socketio/Dockerfile
Due: build-socketio, deploy-socketio

Update image repo URL
  .gitlab-ci.yml
Due: none

Path conditions:
  build-producer: any of: kubernetes/producer-deployment.yaml, producer/*, producer/app/*, producer/models/*, producer/queue_op/*
  deploy-producer: any of: kubernetes/producer-deployment.yaml, producer/*, producer/app/*, producer/models/*, producer/queue_op/*
  build-consumer: any of: kubernetes/consumer-deployment.yaml, consumer/*
  deploy-consumer: any of: kubernetes/consumer-deployment.yaml, consumer/*
  build-socketio: any of: kubernetes/socketio-deployment.yaml, socketio/*
  deploy-socketio: any of: kubernetes/socketio-deployment.yaml, socketio/*
  dev-build-producer: any of: kubernetes/dev-producer-deployment.yaml, producer/*, producer/app/*, producer/models/*, producer/queue_op/*
  dev-deploy-producer: any of: kubernetes/dev-producer-deployment.yaml, producer/*, producer/app/*, producer/models/*, producer/queue_op/*
  dev-build-consumer: any of: kubernetes/dev-consumer-deployment.yaml, consumer/*, consumer/*/*
  dev-deploy-consumer: any of: kubernetes/dev-consumer-deployment.yaml, consumer/*, consumer/*/*
  staging-build-producer: any of: kubernetes/staging-producer-deployment.yaml, producer/*, producer/app/*, producer/models/*, producer/queue_op/*
  staging-deploy-producer: any of: kubernetes/staging-producer-deployment.yaml, producer/*, producer/app/*, producer/models/*, producer/queue_op/*
  staging-build-consumer: any of: kubernetes/staging-consumer-deployment.yaml, consumer/*, consumer/*/*
  staging-deploy-consumer: any of: kubernetes/staging-consumer-deployment.yaml, consumer/*, consumer/*/*
